@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700;1,900&display=swap');

:root{

    --color-primary: #000000;
    --color-secundary: rgba(61, 0, 0, 0.9);
    --color-secundary2: #1E5128;
    --color-secundary3: #04293A;
    --color-contacto: #7D0633;
    --color-form: #950101;
    --color-focus: #FF0000;
    --color-ancor: #FF0000;
    --color-logo: #FA7D09;
    --color-white: white ;

    /* Este zindex es el maximo */
    /* --zindex-navbar: 5000; */
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}
ul {
    list-style: none;
    
}

a{
    text-decoration: none;
    color: var(--color-ancor);
    font-weight: 700;
}

nav{
    background: var(--color-secundary);
    display: flex;   
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    flex-wrap: nowrap; 
    position: fixed;
    width: 100%;
    /* gap: 1em; */
}

.logo{
    min-width: 160px;
    color: var(--color-logo);
    font-size: 1.5em;  
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;

}

.navbar{
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 1em;
    flex-wrap: nowrap;
    
}

.contenido{
    background: var(--color-secundary3);
    width: auto;
    height: 500px;
    color: #FA7D09;
}

.marcas{
    background: var(--color-secundary3);
    width: auto;
    padding-top:160px ;
    /* height: 500px; */
    color: #FA7D09;
}

.marcas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    padding-bottom: 1em;
}

.msj-marca{
    text-align: center;
    font-size: 1.5em;  
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    padding: 1em;
}

.box-marcas{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    
}

.catalogo{
    display: flex;
    flex-direction: column;        
    align-items: center;
    background: var(--color-primary);
    gap: 1em;
    color: #FA7D09;
}

.msj-moto{
    text-align: center;
    font-size: 1.5em;  
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    padding: 1em;

}

.box-motos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.titulo{
    font-size: 1.5em;  
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    padding: 0.5em;
}
.contacto{
    background: var(--color-contacto);
    width: auto;
    /* height: 500px; */
    color: #FA7D09;
}

.tarjeta{
    
    background: white;
}

.tarjetaNegra{
    background: black;
}

.marca{
    width: 250px;
    height: 150px;
}

.tarjetaMoto{
    width:350px;
    height: 500px;
    background: var(--color-white);
    margin: 1em;
    color: var(--color-primary)
}

.titulo{
    background: green;
}

.descripcion{
    padding: 1em;
    background: red;
}

.moto{
    width: 350px;
    height: 300px;
}

img{
    width: 100%;
    height: 100%;
    padding: 1em;
}




